:root {
    --primary-color: #2E8B57;
    --light-color: #f4f4f9;
    --dark-color: #333;
    --blue-color: #586F7C;
    --light-blue-color: #B8dbd9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navbar */
header {
    background-color: var(--dark-color);
}

.navbar {
    margin: auto;
    max-width: 1100px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.logo a{
    color: var(--light-color);
    padding: 15px;
}

 .menu ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.menu ul li {
    display: grid;
    align-items: center;
    justify-content: center;
}

.menu ul a {
    color: var(--light-color);
}

.menu ul a:hover {
    opacity: 0.9;
}

/* Intro */

.intro {
    margin: auto;
    max-width: 1100px;
    overflow: none; 
}

.intro-container {
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 50px; 
}

.intro-picture img{
  width: 100%;
  border-radius: 20px;
}

.intro-name h2, .intro-name h4 {
    align-items: center;
    justify-content: center;
    padding: 5px 20px;
}

/* about section */

.about {
    margin: auto;
    max-width: 1100px;
    overflow: none; 
}

.about-container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    border-radius: 10px;
}

.jobs {
    border: 1px #333 solid;
    border-radius: 10px;
}

.jobs i {
    color: var(--dark-color);
}

.jobs i,
.jobs h3,
.jobs p {
    display: grid;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
    padding: 5px;
    margin: 10px;
    color: var(--dark-color);
}

.jobs .btn {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.btn a{
    border: 1px #333 solid;
   border-radius: 5px;
   margin: 10px;
   padding: 10px;
   background-color: #333;
   color: var(--light-color);
}

.btn a:hover {
    opacity: 0.9;
}

/* Tagline */

.tagline {
    background-color: var(--light-blue-color);
    height: 200px;
}

.tagline-content {
    display: grid;
    grid-template-rows: 1fr 1fr; 
    text-align: center;
    justify-content: center;
    gap: 20px;
    line-height: 1.5;
    padding-top: 50px; 
}

.tagline-text {
    padding: 10px 0
}

.skills {
    margin: auto;
    max-width: 1100px;
    overflow: none; 
}

.skills-content ul{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}

.skill {
    border: 1px solid #333;
    padding: 5px 10px;
    background-color: var(--light-color);
    border-radius: 20px;
}

/* about me page */
.aboutme {
    margin: auto;
    max-width: 1100px;
    overflow: none;
    padding: 20px 0;
    height: 900px; 
}

.aboutme-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutme-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.aboutme-picture img{
    border-radius: 50%;
    padding: 10px 0;
}

.aboutme-name {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.aboutme-name p, .aboutme-name h2, .aboutme-name h4 {
    padding: 5px 0;
}

.aboutme-bio {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutme-bio h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.aboutme-bio p {
    padding: 10px 0;
}

.aboutme-interests, .aboutme-education {
    line-height: 1.5;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.aboutme-interests h4, 
.aboutme-interests ul {
    padding: 10px;
}

.aboutme-education h4, 
.aboutme-education ul {
    padding: 10px;
}

/* contact form */
.contact-form {
    margin: auto;
    max-width: 1100px;
    overflow: none;
    padding: 20px 0;
    height: 900px; 
}

.contact-form textarea {
    height: 200px;
    width: 100%;
}

.contact-form input {
    height: 25px;
    width: 100%;
}

/* footer */
footer {
    background-color: var(--dark-color);
}

.footer {
    padding-top: 20px;
    margin: auto;
    max-width: 1100px;
    overflow: none; 
    color: var(--light-color);
}

.footer-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
}

.footer-copyright {
    display: grid;
    justify-content: center;
}


